<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Listedes personnes</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{ person.id }}</td>
          <td>{{ person.nom }}</td>
          <td>{{ person.age }}</td>
          <td>
            <button class="btn btn-danger" (click)="DeletePerson(person.id)">
              Delete</button
            >&nbsp;<button
              [routerLink]="['../update', person.id]"
              class="btn btn-info"
              style="padding-left: 20px"
            >
              Modifier
            </button>
          </td>

          <td>
            <button [routerLink]="['../details', person.id]">Détails</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- [routerLink]="['../details', person.id, person.nom, person.age]" -->
