<!-- <form class="text-center border border-light p-5" action="list">
  <p class="h4 mb-4">Details of Person</p>

  <input
    type="text"
    #id
    class="form-control mb-4"
    [value]="nom"
    placeholder="Nom"
  /><br />
  <input
    type="text"
    #nom
    class="form-control mb-4"
    [value]="nom"
    placeholder="Nom"
  /><br />
  <input
    type="text"
    #nom
    [value]="nom"
    placeholder="Nom"
    class="form-control mb-4"
  /><br />
  <button class="btn btn-info btn-block" routerLink="/list">Ajouter</button>
</form>
 -->

<!-- <div class="text-center border border-light p-5">
  <p>
    <b>Détails of {{ nom }}</b>
  </p>
  <table>
    <tr>
      <th>Id</th>
      <td></td>
      <td class="btn btn-info btn-block">{{ id }}</td>
    </tr>
    <tr>
      <th style="padding: 8%; margin: 18%">Nom</th>
      <td></td>

      <td class="btn btn-info btn-block">:{{ nom }}</td>
    </tr>
    <tr>
      <th style="padding: 8%; margin: 338%">Age</th>
      <td></td>
      <td class="btn btn-info btn-block">:{{ age }}</td>
    </tr>
  </table>
</div> -->

<form class="text-center border border-light p-5">
  <p style="margin-bottom: 2%" class="h4 mb-4">Details of {{ nom }}</p>

  <div style="width: 50%; margin-left: 37%; margin: 2 auto">
    <div style="display: flex">
      <p style="margin-right: 4.3%; margin-top: 0.5%">Id</p>
      <input
        readonly="readonly"
        style="margin-left: 2em; text-align: center; width: 30%"
        type="text"
        [value]="id"
        class="form-control mb-4"
      />
    </div>

    <div style="display: flex">
      <p style="margin-top: 0.5%">Age</p>
      <input
        readonly="readonly"
        style="margin-left: 2.5em; text-align: center; width: 30%"
        type="text"
        [value]="age"
        class="form-control mb-4"
      />
    </div>
    <div style="display: flex">
      <p style="margin-top: 0.5%; margin-right: 2.3%">Nom</p>
      <input
        readonly="readonly"
        style="margin-left: 1.5em; text-align: center; width: 30%"
        type="text"
        [value]="nom"
        class="form-control mb-4"
      />
    </div>
  </div>
  <button
    style="margin-top: 4%; width: 30%; margin: 0 auto"
    class="btn btn-info btn-block"
    routerLink="/list"
  >
    OK
  </button>
</form>

<!-- [innerHTML]="action" -->
